name: Build

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "v*"
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  source-images:
    name: Source Images
    runs-on: ubuntu-24.04
    outputs:
      matrix: ${{ steps.images.outputs.result }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Get image list
        id: images
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const determineMatrix = require('./scripts/matrix.js')
            return determineMatrix()

  build:
    name: Images
    runs-on: ubuntu-24.04
    needs: source-images
    strategy:
      matrix: ${{ fromJSON(needs.source-images.outputs.matrix) }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Build Docker image
        run: docker build -t ${{ matrix.image }} images/${{ matrix.image }}

      - name: Get version
        run: |
          docker create --name info ${{ matrix.image }}
          docker cp info:/VERSION VERSION
          version=$(cat VERSION)
          if [ -z "$version" ]; then
            echo "VERSION file not found in image"
            exit 1
          fi
          echo "version=${version}"

  summary:
    name: Assert all builds succeeded
    runs-on: ubuntu-24.04
    needs: build
    if: always()
    steps:
      - name: Test suite success
        if: ${{ !(contains(needs.*.result, 'failure')) && !contains(needs.*.result, 'cancelled') && !contains(needs.*.result, 'skipped') }}
        run: exit 0
      - name: Test suite failures
        if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') || contains(needs.*.result, 'skipped') }}
        run: exit 1
