name: Lint

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "v*"
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: read

jobs:
  super-linter:
    name: All
    uses: harryzcy/github-actions/.github/workflows/linter.yml@2e73e1de26f548a8108b79de2f91ce5fae210bb2 # main

  spelling:
    name: Spelling
    uses: harryzcy/github-actions/.github/workflows/spelling.yml@2e73e1de26f548a8108b79de2f91ce5fae210bb2 # main
