name: Release

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  source-images:
    name: Source Images
    runs-on: ubuntu-24.04
    outputs:
      matrix: ${{ steps.matrix.outputs.result }}
      matrix-platforms: ${{ steps.matrix-platforms.outputs.result }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Determine matrix
        id: matrix
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const determineMatrix = require('./scripts/matrix.js')
            return determineMatrix()

      - name: Determine matrix with platforms
        id: matrix-platforms
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const determineMatrix = require('./scripts/matrix.js')
            const withPlatforms = true
            return determineMatrix(withPlatforms)

  pre-check:
    name: Pre Check
    runs-on: ubuntu-24.04
    needs: source-images
    strategy:
      matrix: ${{ fromJSON(needs.source-images.outputs.matrix-platforms) }}
    outputs:
      excalidraw_changed: ${{ steps.check.outputs.excalidraw_changed }}
      homebox_changed: ${{ steps.check.outputs.homebox_changed }}
      pypiserver_changed: ${{ steps.check.outputs.pypiserver_changed }}
      resvg_changed: ${{ steps.check.outputs.resvg_changed }}
      sally_changed: ${{ steps.check.outputs.sally_changed }}
      typst_changed: ${{ steps.check.outputs.typst_changed }}
      wifi-card_changed: ${{ steps.check.outputs.wifi-card_changed }}
      yt-dlp_changed: ${{ steps.check.outputs.yt-dlp_changed }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Get previous revision
        id: previous
        run: |
          if ! docker pull ghcr.io/harryzcy/${{ matrix.image }}:latest 2>/dev/null; then
            echo "No previous image found, assuming first release"
            echo "previous=HEAD^" >> $GITHUB_OUTPUT
            exit 0
          fi
          previous=$(docker inspect ghcr.io/harryzcy/${{ matrix.image }} | jq '.[0]["Config"]["Labels"]["org.opencontainers.image.revision"]')
          if [ -z "$previous" ]; then
            echo "No previous revision found"
            exit 1
          fi
          echo "previous=${previous}" >> $GITHUB_OUTPUT

      - name: Get current revision
        id: current
        run: |
          current=$(git rev-parse HEAD)
          if [ -z "$current" ]; then
            echo "No current revision found"
            exit 1
          fi
          echo "current=${current}" >> $GITHUB_OUTPUT

      - name: Check directory changed between revisions
        id: check
        run: |
          set +e
          output=$(git diff --quiet ${{ steps.previous.outputs.previous }} ${{ steps.current.outputs.current }} -- images/${{ matrix.image }})
          status="$?"
          echo "status: $status"
          echo "$output"
          if [ "$status" -ne 0 ]; then
            echo "Directory images/${{ matrix.image }} changed between revisions"
            echo "${{ matrix.image }}_changed=true" >> $GITHUB_OUTPUT
          else
            echo "Directory images/${{ matrix.image }} did not change between revisions"
            echo "${{ matrix.image }}_changed=false" >> $GITHUB_OUTPUT
          fi

  release:
    name: Release Docker images
    runs-on: ubuntu-24.04
    needs: [pre-check, source-images]
    permissions:
      packages: write
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.source-images.outputs.matrix) }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: images/${{ matrix.image }}
          push: false
          load: true
          tags: ${{ matrix.image }}:info

      - name: Get version
        id: version
        run: |
          docker create --name info ${{ matrix.image }}:info
          docker cp info:/VERSION VERSION
          version=$(cat VERSION)
          rm VERSION
          echo "version=${version}" >> $GITHUB_OUTPUT

      - name: Check if image directory changed
        id: check
        run: |
          echo '${{ toJSON(needs.pre-check.outputs) }}'
          changed=$(echo '${{ toJSON(needs.pre-check.outputs) }}' | jq -r '."${{ matrix.image }}_changed"')
          echo "changed: $changed"
          echo "changed=${changed}" >> $GITHUB_OUTPUT

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ghcr.io/harryzcy/${{ matrix.image }}
          tags: |
            type=semver,pattern={{version}},value=${{ steps.version.outputs.version }}
            type=semver,pattern={{major}}.{{minor}},value=${{ steps.version.outputs.version }}
            type=semver,pattern={{major}},value=${{ steps.version.outputs.version }}
            type=sha

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: images/${{ matrix.image }}
          platforms: ${{ github.event_name == 'push' && (matrix.platforms || 'linux/amd64,linux/arm64') || 'linux/amd64' }}
          push: ${{ github.event_name == 'push' && steps.check.outputs.changed == 'true' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          annotations: ${{ steps.meta.outputs.annotations }}
